Repository osushi-academy/sushi-chat, pull requests merged in 2021-11, with the labels that each got.

#610 デプロイスクリプトの修正
  .github/workflows/deploy-aws.yml
  app/server/.env.example
  scripts/build_app.sh
  scripts/mod_permission.sh
  scripts/start_app.sh
  terraform/.terraform.lock.hcl
Labels: bug, main

#554 スタンプを1度しか押せないようにする（サーバー）
  app/server/src/domain/room/Room.ts
Labels: server, develop

#592 AdminToolsを常時表示するように変更
  .github/workflows/deploy-aws.yml
  app/front/assets/scss/admin.scss
  app/front/assets/scss/index.scss
  app/front/assets/scss/variables.scss
  app/front/components/AdminTool/AdminTool.vue
  app/front/pages/index.vue
  app/server/.env.example
  scripts/build_app.sh
  scripts/mod_permission.sh
  scripts/start_app.sh
  terraform/.terraform.lock.hcl
Labels: front, develop

#615 timestampの幅修正
  app/front/assets/scss/admin.scss
  app/front/assets/scss/home/home.scss
  app/front/assets/scss/home/variables.scss
  app/front/assets/scss/lp.scss
  app/front/assets/scss/sushiselect.scss
  app/front/assets/scss/variables.scss
  app/server/src/domain/room/Room.ts
Labels: front, server, main
