Repository osushi-academy/sushi-chat, pull requests merged in 2021-12, with the labels that each got.

#617 fix: ルーム作成時にdescriptionを指定できるようにする
  app/front/pages/room/create.vue
Labels: front, develop

#619 送信失敗時のUIと再送信処理を実装
  app/front/assets/scss/common.scss
  app/front/assets/scss/index.scss
  app/front/components/ChatRoom.vue
  app/front/components/Message.vue
  app/front/pages/index.vue
  app/front/store/chatItems.ts
Labels: front, develop

#614 デプロイ設定の修正
  .github/workflows/deploy-aws.yml
  .idea/.gitignore
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/sushi-chat.iml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  scripts/build_app.sh
  scripts/mod_permission.sh
  scripts/start_app.sh
  terraform/deploy.tf
  terraform/ec2.tf
  terraform/lb.tf
Labels: main, infra

#625 ルームアクセス時に一旦未開始の時の画面が現れるのを回避
  app/front/pages/index.vue
Labels: front, develop

#627 fix: ルーム作成画面で日本語変換中にBackspaceをクリックした場合にカラムが消えてしまう
  app/front/pages/room/create.vue
Labels: front, develop

#634 バージョンアップ
  app/front/assets/scss/admin.scss
  app/front/assets/scss/common.scss
  app/front/assets/scss/index.scss
  app/front/components/AdminTool/AdminTool.vue
  app/front/components/ChatRoom.vue
  app/front/components/Message.vue
  app/front/pages/index.vue
  app/front/pages/room/create.vue
  app/front/store/chatItems.ts
Labels: front, main

#622 APIクライアントを修正
  app/front/apiClient/index.ts
  app/front/pages/home.vue
  app/front/pages/index.vue
  app/front/pages/invited.vue
  app/server/src/expressRoute.ts
  app/server/src/rest.ts
  app/shared/src/types/rest.ts
Labels: front, server, develop, shared

#616 テストの追加
  app/server/src/__test__/chat.ts
  app/server/src/infra/repository/chatItem/ChatItemRepository.ts
  app/server/src/infra/repository/room/RoomRepository.ts
  app/server/src/infra/repository/stamp/StampRepository.ts
  app/server/src/ioServer.ts
  app/server/src/service/chatItem/ChatItemService.ts
  app/server/src/utils/date.ts
  app/server/src/utils/range.ts
Labels: server, develop
