Repository osushi-academy/sushi-chat, pull requests merged in 2021-10, with the labels that each got.

#570 トピックIDのずれを修正
  app/front/pages/room/create.vue
Labels: develop

#579 develop -> main
  .github/FUNDING.yml
  .github/labeler-develop.yml
  .github/labeler-main.yml
  .github/workflows/labeler-develop.yml
  .github/workflows/labeler-main.yml
  app/front/assets/scss/admin.scss
  app/front/assets/scss/common.scss
  app/front/assets/scss/home/home.scss
  app/front/assets/scss/home/variables.scss
  app/front/assets/scss/index.scss
  app/front/assets/scss/sushiselect.scss
  app/front/assets/scss/variables.scss
  app/front/components/AdminTool/AdminTool.vue
  app/front/components/ChatRoom.vue
  app/front/components/FavoriteButton.vue
  app/front/components/Home/CreationCompletedModal.vue
  app/front/components/Home/InviteSuccess.vue
  app/front/components/Message.vue
  app/front/components/SelectIconModal.vue
  app/front/components/TextArea.vue
  app/front/components/TopicHeader.vue
  app/front/components/UrlToLink.vue
  app/front/nuxt.config.js
  app/front/package.json
  app/front/pages/home.vue
  app/front/pages/index.vue
  app/front/pages/invited.vue
  app/front/pages/room/create.vue
  app/front/store/chatItems.ts
  app/front/store/pinnedChatItems.ts
  app/front/store/topicStateItems.ts
  app/front/utils/formatDate.ts
  app/server/src/__test__/testChatItemService.ts
  app/server/src/domain/chatItem/Question.ts
  app/server/src/infra/repository/admin/AdminRepository.ts
  app/server/src/infra/repository/chatItem/ChatItemRepository.ts
  app/server/src/infra/repository/chatItem/EphemeralChatItemRepository.ts
  app/server/src/ioServer.ts
  app/server/src/rest.ts
  app/server/src/service/chatItem/ChatItemModelBuilder.ts
  app/server/src/service/chatItem/ChatItemService.ts
  app/server/src/service/chatItem/commands.ts
  yarn.lock
Labels: front, server, main

#557 スタンプの仕様と実装を変更
  app/front/components/FavoriteButton.vue
  app/front/pages/index.vue
  app/front/store/chatItems.ts
  app/front/store/stamps.ts
  app/server/src/__test__/testStampService.ts
  app/server/src/domain/stamp/IStampFactory.ts
  app/server/src/infra/factory/StampFactory.ts
  app/server/src/ioServer.ts
  app/server/src/service/stamp/StampService.ts
  app/server/src/service/stamp/commands.ts
  app/shared/src/types/socketio.ts
  doc/reference/sushi-chat-api.yaml
Labels: documentation, front, server, develop, shared
