Repository osushi-academy/sushi-chat, pull requests merged in 2022-02, with the labels that each got.

#623 クライアントエラーとサーバーエラーを判別して返すようにした
  app/server/src/__test__/testAdminService.ts
  app/server/src/domain/room/Room.ts
  app/server/src/domain/user/IconId.ts
  app/server/src/error.ts
  app/server/src/infra/repository/PGPool.ts
  app/server/src/infra/repository/User/UserRepository.ts
  app/server/src/infra/repository/admin/AdminRepository.ts
  app/server/src/infra/repository/chatItem/ChatItemRepository.ts
  app/server/src/infra/repository/chatItem/EphemeralChatItemRepository.ts
  app/server/src/infra/repository/room/EphemeralRoomRepository.ts
  app/server/src/infra/repository/room/RoomRepository.ts
  app/server/src/infra/repository/stamp/StampRepository.ts
  app/server/src/ioServer.ts
  app/server/src/rest.ts
  app/server/src/service/admin/AdminService.ts
  app/server/src/service/admin/commands.ts
  app/server/src/service/chatItem/ChatItemModelBuilder.ts
  app/server/src/service/chatItem/ChatItemService.ts
  app/server/src/service/room/RealtimeRoomService.ts
  app/server/src/service/room/RestRoomService.ts
  app/server/src/service/stamp/StampService.ts
  app/server/src/service/user/UserService.ts
Labels: server, develop

#657 絵文字をカウントできるライブラリを使って文字数カウントをするようにした。
  app/front/components/TextArea.vue
  app/front/package.json
  app/front/pages/room/create.vue
  app/server/package.json
  app/server/src/__test__/testChatItemService.ts
  app/server/src/__test__/testRestRoomService.ts
  app/server/src/domain/chatItem/Answer.ts
  app/server/src/domain/chatItem/Message.ts
  app/server/src/domain/chatItem/Question.ts
  app/server/src/domain/room/Room.ts
  app/shared/package.json
  app/shared/src/constants/constraints.ts
  app/shared/src/index.ts
Labels: front, server, develop, shared

#678 Firebaseのインポート方法を改善
  app/front/store/auth.ts
  app/front/utils/getIdToken.ts
Labels: front, develop

#677 roomのURL修正
  app/front/components/AdminTool/AdminTool.vue
  app/front/components/Home/CreationCompletedModal.vue
  app/front/components/Home/InviteSuccess.vue
  app/front/middleware/privateRoute.ts
  app/front/pages/home.vue
  app/front/pages/index.vue
  app/front/pages/login.vue
  app/front/pages/profile.vue
  app/front/pages/room/_id.vue
Labels: front, develop
