Repository osushi-academy/sushi-chat, pull requests merged in 2022-01, with the labels that each got.

#649 fix: ChatItemが1行の時padding-bottomが大きくなる
  app/front/assets/scss/index.scss
Labels: front, develop

#647 idTokenの管理方法を修正
  app/front/apiClient/index.ts
  app/front/middleware/privateRoute.ts
  app/front/pages/index.vue
  app/front/plugins/apiClient.ts
  app/front/plugins/socket.ts
  app/front/store/auth.ts
  app/front/store/chatItems.ts
  app/front/store/pinnedChatItems.ts
  app/front/store/stamps.ts
  app/front/utils/getIdToken.ts
  app/front/utils/socketIO.ts
Labels: front, develop

#646 プレビュー用のドメインからのCORSを許可
  app/server/src/app.ts
  app/server/src/ioServer.ts
  app/server/src/utils/http.ts
Labels: server, main

#656 スピーカー選択欄の幅を入るようにした
  app/front/assets/scss/sushiselect.scss
Labels: front, develop

#620 ルーム作成画面のレスポンシブ
  app/front/assets/scss/home/home.scss
  app/front/assets/scss/home/variables.scss
  app/front/components/Home/Modal.vue
  app/front/pages/room/create.vue
Labels: front, develop

#593 トピック終了後のコメントのタイムスタンプをundefinedにする
  app/server/src/__test__/chat.ts
  app/server/src/__test__/testChatItemService.ts
  app/server/src/__test__/testStampService.ts
  app/server/src/domain/room/Room.ts
  app/server/src/domain/user/IconId.ts
  app/server/src/service/chatItem/ChatItemModelBuilder.ts
  app/server/src/service/chatItem/ChatItemService.ts
  app/server/src/service/stamp/StampService.ts
Labels: server, develop, マージOK

#655 スマホで表示されていなかったアイコンを表示
  app/front/components/ChatRoom.vue
  app/front/components/TopicHeader.vue
Labels: front, develop

#654 タブ変更時に下までスクロールするように変更
  app/front/assets/scss/index.scss
  app/front/components/ChatRoom.vue
  app/front/pages/room/create.vue
Labels: front, develop

#650 line-clampが効いていなかったのを修正
  app/front/assets/scss/index.scss
  app/front/components/Message.vue
  app/front/components/TopicHeader.vue
Labels: front, develop

#629 アプリケーションサービスクラスの異常系のテストを追加した
  app/server/src/__test__/testAdminService.ts
  app/server/src/__test__/testChatItemService.ts
  app/server/src/__test__/testRealTimeRoomService.ts
  app/server/src/__test__/testRestRoomService.ts
  app/server/src/__test__/testStampService.ts
  app/server/src/__test__/testUserService.ts
Labels: server, develop

#660 終了時にアーカイブを取得
  app/front/pages/index.vue
Labels: front, develop

#663 update
  app/front/apiClient/index.ts
  app/front/assets/scss/home/home.scss
  app/front/assets/scss/home/variables.scss
  app/front/assets/scss/index.scss
  app/front/assets/scss/sushiselect.scss
  app/front/components/ChatRoom.vue
  app/front/components/Home/Modal.vue
  app/front/components/Message.vue
  app/front/components/TopicHeader.vue
  app/front/middleware/privateRoute.ts
  app/front/pages/home.vue
  app/front/pages/index.vue
  app/front/pages/invited.vue
  app/front/pages/room/create.vue
  app/front/plugins/apiClient.ts
  app/front/plugins/socket.ts
  app/front/store/auth.ts
  app/front/store/chatItems.ts
  app/front/store/pinnedChatItems.ts
  app/front/store/stamps.ts
  app/front/utils/getIdToken.ts
  app/front/utils/socketIO.ts
  app/server/src/__test__/chat.ts
  app/server/src/__test__/testAdminService.ts
  app/server/src/__test__/testChatItemService.ts
  app/server/src/__test__/testRealTimeRoomService.ts
  app/server/src/__test__/testRestRoomService.ts
  app/server/src/__test__/testStampService.ts
  app/server/src/__test__/testUserService.ts
  app/server/src/domain/room/Room.ts
  app/server/src/domain/user/IconId.ts
  app/server/src/expressRoute.ts
  app/server/src/infra/repository/chatItem/ChatItemRepository.ts
  app/server/src/infra/repository/room/RoomRepository.ts
  app/server/src/infra/repository/stamp/StampRepository.ts
  app/server/src/ioServer.ts
  app/server/src/rest.ts
  app/server/src/service/chatItem/ChatItemModelBuilder.ts
  app/server/src/service/chatItem/ChatItemService.ts
  app/server/src/service/stamp/StampService.ts
  app/server/src/utils/date.ts
  app/server/src/utils/range.ts
  app/shared/src/types/rest.ts
Labels: front, server, main, shared

#665 チャット履歴ダウンロードの修正
  app/front/components/ChatRoom.vue
  app/front/components/TopicHeader.vue
Labels: front, main

#667 fix: fetch limited number of rooms to avoid lack of connection pool
  app/server/src/service/admin/AdminService.ts
Labels: server, main
